<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!--
        DecentDB DBeaver Extension
        Registers DecentDB as a first-class database type in DBeaver.
        Provider ID: decentdb
        Driver ID:   decentdb_jdbc
    -->

    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
            class="org.jkiss.dbeaver.ext.generic.GenericDataSourceProvider"
            description="DecentDB embedded database"
            id="decentdb"
            label="DecentDB">

            <tree
                path="decentdb"
                label="DecentDB Data Source"
                icon="icons/decentdb.png"
                description="DecentDB database">
                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTable"
                    label="Tables"
                    icon="#folder_table"
                    description="Tables"/>
                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericView"
                    label="Views"
                    icon="#folder_view"
                    description="Views"/>
                <folder type="org.jkiss.dbeaver.ext.generic.model.GenericIndex"
                    label="Indexes"
                    icon="#folder_index"
                    description="Indexes"/>
            </tree>

            <drivers managable="true">
                <driver
                    id="decentdb_jdbc"
                    label="DecentDB"
                    class="com.decentdb.jdbc.DecentDBDriver"
                    sampleURL="jdbc:decentdb:{file}"
                    defaultPort=""
                    description="DecentDB JDBC Driver (in-process, JNI-backed)"
                    webURL="https://decentdb.org"
                    propertiesURL="https://decentdb.org/api/jdbc/"
                    supportsDriverProperties="true"
                    anonymous="true"
                    customEndpointDefaults="true"
                    embedded="true"
                    singleConnection="true">

                    <!-- Default connection properties -->
                    <property name="readOnly" value="false"/>

                </driver>
            </drivers>

        </datasource>
    </extension>

    <!-- SQL Dialect -->
    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect
            id="decentdb"
            parent="generic"
            class="org.jkiss.dbeaver.ext.generic.model.GenericSQLDialect"
            label="DecentDB"
            description="DecentDB SQL dialect"
            />
    </extension>

    <!-- File handler: lets users open .ddb files directly in DBeaver -->
    <extension point="org.jkiss.dbeaver.databaseEditorContributor">
    </extension>

</plugin>
